


.dot-box {
    border-radius: 2px;
    /*border: 2px solid black;*/
    padding: 20px;
}

.label-dot-plot {
    text-align: center;
}

#img-time-map-help{
    display: none;
}

.circle-dot-plot:hover {
    stroke-width: 2;
    stroke: #151515;
}

/* Borderless */
.dot-plot-tip tbody tr td, .dot-plot-tip tbody tr th, .dot-plot-tip thead tr th {
    border: none;
}


