
/*.bullet { font: 10px sans-serif; }*/
.bullet .marker { stroke: #000; stroke-width: 2.5px; }
.bullet .tick line { stroke: #666; stroke-width: .5px; }
.bullet .range.s0 { fill: #e31a1c; }
.bullet .range.s1 { fill: #feb24c; }
.bullet .range.s2 { fill: #ddd; }
.bullet .range.s3 { fill: #feb24c; }
.bullet .range.s4 { fill: #e31a1c; }
.bullet .range.s5 { fill: #e31a1c; }

/*.bullet .title { font-size: 14px; font-weight: bold; }*/
.bullet .subtitle { fill: #999; }