
@font-face{font-family:'Economica';font-style:normal;font-weight:400;src:local('Economica'),local('Economica-Regular'),url(http://themes.googleusercontent.com/static/fonts/economica/v1/jObgDQiPUtmACAaaK3pMGz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff')}


html,body{
    font-family: Helvetica;
    margin-left: 1%;
    margin-right: 1%;
    background-color: #FAFAFA;
}

.navbar{
    z-index: 99;
}

/* Add margin between rows */
.top-buffer {
    margin-top:1%;
}

/* Adding shadow */
.patient-profile {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#dot-plot-container {
    margin-left: 1%;
}

/* Timeline */

.vis-item {
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}


.vis-item.vis-selected {
    border-width: 3px;
}


.medication-bis {
    /*background-color: #9d9d9d;
    border-color: #4d4d4d;*/
}

.affix {
    top: 0;
    width: 100%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.affix-top {
    position: static;
    top: -35px;
}
.affix + .container-fluid {
    padding-top: 70px;
}

/* Media query */

#second-time-map {
    display: block;
}
#second-timeline{
    display: none;
}


@media (min-width: 1024px) {
    #second-time-map {
        display: none;
    }
    #second-timeline{
        display: block;
    }
}


#bar-chart-group {
    display: block;
}
#dot-plot-group{
    display: none;
}

@media (min-width: 1130px) {
    #bar-chart-group {
        display: none;
    }
    #dot-plot-group{
        display: block;
    }
}


#lb-par-coord {
    display: block;
}
#lab-results{
    display: none;
}


@media (min-width: 1200px) {
    #lb-par-coord {
        display: none;
    }
    #lab-results{
        display: block;
    }
}


/* parcoord*/

.background path {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
}

.background2 path {
    fill: none;
    stroke: #ddd;
    stroke-width: 7px;
}

.foreground path {
    fill: none;
    stroke: #464248;
    stroke-width: 1.5px;
    opacity: 0.75;
}

.brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.axis-par line,
.axis-par path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}