/*.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
    stroke-width: 0.5;
}
.grid path {
    stroke-width: 0;
}
*/
.chart {
}
.main text {
    font-size: 12px;
}
.axis line, .axis path {
    shape-rendering: crispEdges;
    fill: none;
    stroke-width: 2;
    stroke: lightgrey;
}
.nodes {
    stroke: grey;
    fill: rgba(255, 255, 255,1);
}